<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT startPage ANY>
<!ATTLIST startPage id ID #REQUIRED>
<!ELEMENT clickableImage ANY>
<!ATTLIST clickableImage id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT our_Destinations ANY>
<!ATTLIST our_Destinations id ID #REQUIRED>
<!ELEMENT our_Aircrafts ANY>
<!ATTLIST our_Aircrafts id ID #REQUIRED>
<!ELEMENT startPage1 ANY>
<!ATTLIST startPage1 id ID #REQUIRED>
]>
<root id="-1">
  <startPage id="1053" key="1aba9b0a-cf9e-4121-b33a-a09bb276779a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-04T12:07:55" updateDate="2017-12-07T15:58:03" nodeName="StartPage" urlName="startpage" path="-1,1053" isDoc="" nodeType="1052" creatorName="Anders Johnsson" writerName="Anders Johnsson" writerID="0" template="1088" nodeTypeAlias="startPage" isPublished="false">
    <link_with_Image2><![CDATA[[{"key":"d691216c-afe9-4e27-8875-01397c21d3d1","name":"Item 1","ncContentTypeAlias":"clickableImage","linkDescription":"Our Aircrafts","image":"umb://media/0abd133f084b46bba94cc1b98ee0bb2a","url":"Our_Aircrafts"}]]]></link_with_Image2>
    <editableDescription><![CDATA[<p>Super Duper Airline har under många år dominerat flyglinjerna mellan USA och Europa .Dessutom mellan USA och Kina. Dessutom finns gott om flyglinjer till Australien med destinationer såsom Sydney, Perth och Brisbane.</p>]]></editableDescription>
    <link_with_Image3><![CDATA[[{"key":"22898e81-cbeb-4801-a396-536eac416739","name":"Item 1","ncContentTypeAlias":"clickableImage","linkDescription":"Our Destinations","image":"umb://media/549508cb05d94263b2758b77129ddebe","url":"Our_Destinations"}]]]></link_with_Image3>
    <link_with_Image1><![CDATA[[{"key":"871f311d-0ac5-44a9-8e23-a4b1a297bcdc","name":"Item 1","ncContentTypeAlias":"clickableImage","linkDescription":"Super Duper News-Acquisitions","image":"umb://media/dd28ec81dcbe41f2a0b05374f3d61c42","url":"News"}]]]></link_with_Image1>
  </startPage>
</root>