@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@if (!User.Identity.IsAuthenticated)
{
    <h2>Login Page</h2>
    <div id="loginForm">
        @Html.Partial("LoginPartial", new Umbraco2.Models.LoginModel())
    </div>
}
else
{
    <h3>Welcome @Members.GetCurrentMemberProfileModel().UserName !</h3>
    <h3> @Html.ActionLink("Logga ut", "LogOut", "MemberSurface", null, new { @class = "btn btn-success logout " })</h3>
}
