.investorDashboard {
    font-family: "Segoe UI";
    font-size: 16px;
}


div h3{
    margin-left: 20px;
    color:rgba(112, 115, 119, 1);/*#fcd40a;*/
    /*background-color: rgba(255,255,179,1);*/
    margin-bottom: 50px;
}

.nm{
    font-weight: bold;
    margin-left: 20px;
}

.nm_data{
    margin-left: 20px; 
    color: black;
    text-decoration: none;
    width: 300px;
}


.nbr_proj {
    width: 150px;
}

.email_data {
    width: 400px;
    margin-left: 20px; 
    
}

.nm_row {
    margin-bottom: 30px;
}

table {
    max-width: 800px  !important;
  
}


table th {
    background-color:lightgray;
}


table, th, td {
    border: 1px solid gray;
   /* text-align: center !important;*/
}

tr {
    height: 30px;
}

.table tbody tr:hover td{
    background-color: rgba(112, 115, 119, 1);/*rgba(0,204,68,1);   #fcd40a;*/
    color: #fcd40a;  /*white*/
}


.table tbody tr:hover th{
    background-color: lightgray;   /*#fcd40a;*/
}
