body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #a52a2a;
    color: white;
    width: 2000px;
    height: 300px;   
}

.header1 {
    position: relative;
    top: 0px;
    padding-left: 50px;
    width: 1100px;
    height: 100px;
    background-color: #a52a2a;
    color: white;
    font-size: 72px;
    font-weight: bold;
    display: inline;
}



.header img {
    position: relative;
    top: 50px;
    margin-left: 30px;
    display: inline;
}

.header_streamer {
    background-color: darkblue;
    height: 30px;
    margin-top: 20px;
    margin-left: -50px;
}

.special {
    font-size: 20px;
    color: gray;
}

.puffs_startpage{
    position: relative;
    left: 25%;
}

.puffs_startpage #a1 div,.puffs_startpage #a2 div,.puffs_startpage #a3 div{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: 300px;
    height: 200px;
    background-color: honeydew;
    color: gray;
    font-family: Arial;
    font-weight: bold;
    border: 1px solid lightgray;
}

.puffs_startpage #a1 img,.puffs_startpage #a2 img,.puffs_startpage #a3 img{
    position: relative;
    width: 300px;
    height: 180px;
    margin-top: 20px;
}

/*#a1.topper1{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: honeydew;
    color: darkgoldenrod;
}*/


/*#a1.topper1 img,#a2.topper2 img{
    width: 300px;
    height: 200px;
}*/
